#Sample {
    width: 100%;
    height: 100%;
}

html, body {
    background-color: #2b2d30;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.spinner {
    margin: auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
    position: fixed;
    width: 48px;
    height: 48px;
    border: 5px solid #dfe1e5;
    border-bottom-color: #375fad;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    z-index: 1;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

body:has(textarea) {
    background-color: aliceblue;
}
