name: Build

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - 'docs/**'
  pull_request:
    paths-ignore:
      - '**.md'
      - 'docs/**'

jobs:
  build:
    # Skip build if head commit contains 'skip ci'
    if: "!contains(github.event.head_commit.message, 'skip ci')"

    runs-on: macos-latest
    timeout-minutes: 40

    steps:
      - uses: actions/checkout@v4
        with:
          lfs: 'true'

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 20

      - uses: gradle/gradle-build-action@v2

      - name: Build
        run: |
          ./gradlew build \
          -x :internal:baseline-profile:pixel7Api34NonMinifiedReleaseAndroidTest \
          -x :internal:baseline-profile:collectNonMinifiedReleaseBaselineProfile

      - name: Upload reports + Roborazzi outputs
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: reports
          path: |
            **/build/reports/**
            **/build/outputs/roborazzi/**

  deploy:
    if: github.ref == 'refs/heads/main'

    runs-on: macos-13
    needs: [ build ]
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v4

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 20

      - uses: gradle/gradle-build-action@v2

      - name: Deploy to Sonatype
        run: ./gradlew publish --no-configuration-cache
        env:
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.GPG_KEY }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyId: ${{ secrets.GPG_KEY_ID }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.GPG_KEY_PASSWORD }}
